<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:be.pageRenderer
  includeCssFiles="{
    0:'EXT:diskusage/Resources/Public/Css/chunk-vendors.css',
    1:'EXT:diskusage/Resources/Public/Css/main.css'
  }"
  includeJsFiles="{
    0:'EXT:diskusage/Resources/Public/JavaScript/chunk-vendors-legacy.js',
    1:'EXT:diskusage/Resources/Public/JavaScript/main-legacy.js'
  }" />

<f:flashMessages queueIdentifier="core.template.flashMessages" />

<div id="diskusage-backend-module-content"></div>

</html>
